MqttConfig/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="MqttConfig" elementFormDefault="qualified" targetNamespace="MqttConfig" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="mqttConfig" type="tns:MqttConfig.MqttConfigCT" />
	<xs:complexType name="MqttConfig.MqttConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="mqttEventHandlers" type="tns:MqttConfig.MqttEventHandlersCT">
				<xs:annotation>
					<xs:documentation>The MqttEventHandlers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="brokerServer" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BrokerServer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="brokerPort" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The BrokerPort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MqttConfig.MqttEventHandlersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="mqttEventHandler" type="tns:MqttConfig.MqttEventHandlerCT">
				<xs:annotation>
					<xs:documentation>The MqttEventHandler Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MqttConfig.MqttEventHandlersRemoveCT">
				<xs:attribute name="Name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Key.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="MqttConfig.MqttEventHandlersClearCT" />
	<xs:complexType name="MqttConfig.MqttEventHandlerCT">
		<xs:attribute name="Name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="File" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The File.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
